{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>RPG Inventory</title>
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #2d2d2d;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)),
                            url(https://i.pinimg.com/originals/82/74/72/827472c996956ff73ca44addd4ced98f.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }

    nav, .navbar, .container-fluid {
        background-color: #2d2d2d;
    }

    .navbar-brand {
        color: #fff;
    }

    .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-nav .nav-link.active {
        color: #fff;
    }

    .navbar-toggler-icon {
        background-color: #fff;
    }

    .biodata {
        color: #fff;
    }

    #total-item-details {
        text-align: center;
    }

    .card h2 {
        margin: 0 auto;
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .player-details {
        width: 1140px;
        min-width: 550px;
        min-height: 120px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        color: #2d2d2d;
        display: block;
        margin: 0 auto;
    }

    .player-details h5 {
        margin: 10px;
    }

    .item-cards-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        margin: 20px 20px;
    }

    .item-card {
        width: 550px;
        min-width: 550px;
        min-height: 300px;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        color: #2d2d2d;
        font-size: 16px;
        text-align: center;
    }

    .item-card h2, .item-card p {
        margin: 2px;
    }

    .stats-name {
        font-weight: bold;
    }

    .item-card a {
        display: block;
    }

    .item-card h2 {
        font-weight: bold;
    }

    .item-card button {
        width: 140px;
        margin: 0 auto;
    }

    .item-table {
        width: 80%;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 10px;
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
        color: rgba(0, 0, 0, 1);
    }

    .item-table  tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
    }

    .item-table  tr:nth-child(odd) {
        background-color: rgba(230, 230, 230, 0.3);
        backdrop-filter: blur(10px);
    }

    #total-item-details {
        font-weight: bold;
        background-color: rgba(41, 89, 230, 0.5);
    }

    a {
        text-decoration: none;
        display: inline-block;
        margin-top: 20px;
    }

    button, .btn-primary {
        background-color: #1a3891;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover, .btn-primary:hover {
        background-color: #2959e6;
    }

    .add-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    .cookie {
        text-align: center;
        color: #fff;
        font-weight: bold;
    }

    .home-page, .logout {
        width: 150px;
    }

    .item-stats {
        margin: 0 auto;
    }

    .item-modifier {
        margin: 0 auto;
    }

</style>

{% endblock meta %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RPG Inventory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}">
                        <button class="home-page">
                            Home
                        </button>
                    </a>
                </li>
                <li>
                    <a class="nav-link active" href="{% url 'main:create_item' %}">
                        <button class="add-new-item">
                            Add New Item
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main:logout' %}">
                        <button class="logout">
                            Logout
                        </button>
                    </a>
                </li>
            </ul>
            <div class="biodata">
                <h5>Name: {{ name }}</h5>
                <h5>Class: {{ class }}</h5>
            </div>
        </div>
    </div>
</nav>

<br/>

<div id="item_card" class="item-cards-container"></div>

<br/>

<table id="item_table" class="item-table"></table>

<br />

<div class="modal fade" id="createItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="power" class="col-form-label">Power:</label>
                        <input type="number" class="form-control" id="power" name="power"></input>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">Category:</label>
                        <select class="form-control" id="category" name="category">
                            <option value="Weapons">Weapons</option>
                            <option value="Armors">Armors</option>
                            <option value="Consumables">Consumables</option>
                            <option value="Magic Items">Magic Items</option>
                            <option value="Miscellaneous">Miscellaneous</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="number" class="form-control" id="price" name="price"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary add-item" data-bs-toggle="modal" data-bs-target="#createItem">Add New Item</button>

<h5 class="cookie">Sesi terakhir login: {{ last_login }}</h5>

<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshTable() {
        const items = await getItems()
        const itemTable = document.getElementById("item_table");

        itemTable.innerHTML = "";

        let total_items = 0;

        items.forEach((item) => {total_items += item.fields.amount;})
        let htmlString = `<tr>
            <th class="stats-name" id="total-item-details" colspan="6">You have ${ total_items } items in your inventory</th>
        </tr>\n
        <tr class="item-table-header>
            <th>Name</th>
            <th>Power</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Edit</th>
        </tr>`

        items.forEach((item) => {
            htmlString += `
            \n<tr class="item-table-elements">
                <td class="item_name">${item.fields.name}</td>
                <td class="item_power">${item.fields.power}</td>
                <td class="item_price">${item.fields.price}</td>
                <td class="item_amount">${item.fields.amount}</td>
                <td class="item_category">${item.fields.category}</td>
            </tr>`
        })

        document.getElementById("item_table").innerHTML = htmlString
    }

    async function refreshCards() {
        const items = await getItems();
        const itemCardContainer = document.getElementById("item_card");

        itemCardContainer.innerHTML = "";

        items.forEach((item) => {
            const itemCard = document.createElement("div");
            itemCard.className = "item-card";
            itemCard.innerHTML = `
                <h2>${item.fields.name}</h2>
                <p><span class="stats-name">Category:</span> ${item.fields.category}</p>
                <table class="item-stats">
                    <tr>
                        <td>
                            <p><span class="stats-name">Power:</span>${item.fields.power}</p>
                        </td>
                        <td>
                            <p><span class="stats-name">Price:</span>${item.fields.price}</p>
                        </td>
                        <td>
                            <p><span class="stats-name">Amount:</span>${item.fields.amount}</p>
                        </td>
                    </tr>
                </table>
                <p>${item.fields.description}</p>
                <table class="item-modifier">
                    <tr>
                        <td>
                            <a href="add_item_amount/${item.pk}">
                                <button class="add_amount" data-item-id="${item.pk}">
                                    Add Amount
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="dec_item_amount/${item.pk}">
                                <button class="dec_amount" data-item-id="${item.pk}">
                                    Drop Item
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="remove_item/${item.pk}">
                                <button class="del_amount" data-item-id="${item.pk}">
                                    Delete Item
                                </button>
                            </a>
                        </td>
                    </tr>
                </table>
            `;
            itemCardContainer.appendChild(itemCard);
        });
    }

    refreshTable();
    refreshCards();

    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addItem

</script>

{% endblock content %}